
body{
    margin-left:15%; /*Fer margin adaptatiu (mòbils, etc) algun dia*/
    font-family:Arial, Helvetica, sans-serif;
    margin-top:max(60px, min(86px, 8%));
    margin-right: 15%;
    margin-bottom: 20px;
    line-height: 1.2;
    text-align: justify;
    position: relative;
}

@media only screen and (max-width: 800px){
  body{
    margin-left: 9%;
    margin-right:9%;
  }
}

@media only screen and (max-width: 700px){
  body{
    margin-left: 6%;
    margin-right:6%;
  }
}

@media only screen and (max-width: 600px){
  body{
    margin-left: 3%;
    margin-right:3%;
  }
}

p{
  margin-top: 11px;
}

h3{
  margin-bottom: 5px;
  margin-top: 25px;
}


h1, h2, h3{
  font-family: "Trebuchet MS";
}

header{
  overflow: visible;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #252236;
  white-space:nowrap;
  height:min-content;
}

header li {
  display:inline-block;
  padding: 0 0;
  overflow: visible !important;
}

header li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  overflow: visible !important;

}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 1px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
html { scroll-behavior: smooth; } 

.dropdown-content a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
header{
	position:fixed;
   left: 0px;
   right: 0px;
   top:0px;
   margin-top: 0;
   box-shadow: 0 0 0 0 black;
   height: max-content;
   padding: 0 0 0 0;
}

.dropdown-content a:hover {background-color: #f1f1f1;color:black}
@media (hover:hover){
.dropdown:hover .dropdown-content {
  display: block;
}
}
li img{
  display: inline-block;
  padding: 0px 8px 0px 24px;
  vertical-align: middle;
}

.active{
  color: rgb(183, 218, 255);
}

.OMEheader{
 color: white;
 text-align: center;
 padding-left: 12px;
 padding-right: 15px;
 padding-top: 8px;
 padding-bottom: 10px;
 font-size: 24px;
 font-family: "Trebuchet MS";
 display:inline-block;
 vertical-align: middle;
}
/* algun dia, posar OMEheader al mig?? centrat horitzontalment */

 /* Hide scrollbar for Chrome, Safari and Opera */
ul::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
ul {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */;
} 

li {
  padding-top:0.5em;
}

header a {
  font-size: 17px;
}

@media only screen and (max-width: 1200px) and (min-width: 1080px){
  header a {
      font-size:16px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1080px){
  header a {
      font-size:16px;
  }
  .OMEheader {
    font-size: 18px;
  }
}


@media only screen and (max-width: 1080px) and (min-width: 950px){
  .OMEheader {
    font-size: 17px;
  }
  header a {
      font-size:15px;
  }
  header li a, .dropbtn {
    padding: 11px 8px;
  }
}

@media only screen and (max-width: 950px) {
  .OMEheader {
    display: none;
  }
  header a {
      font-size:14px;
      padding: 11px 11px;
  }
  header li a, .dropbtn {
    padding: 11px 9px;
  }
  
}

.patros{
  border-top: 5px double rgb(181, 188, 255);
  width:100%;
  margin: auto;
  font-size:50px;
  padding: 10px 0;
  vertical-align: middle;
  text-align: center;

}
.patros img{
  display: inline-block;
  vertical-align: middle;
  width: max(200px, 35%);
  margin-left: 1%;
  margin-right: 1%;
}

a{
  color: #13008e;
  font-weight: 500;
  font-style: normal;
  text-decoration: underline;
}

em{
  font-style:normal;
  font-weight: bold;
  color:#2e294a;
}

.spc{
  height: 33px;
}

.year{
  float:left;
  width:16.6666666%;
  text-align: center;
  font-size: 20px;
  padding-bottom: 35px;
  overflow: hidden;
}

@media only screen and (max-width:1150px) {
  .year{
    width: 20%;
    padding-bottom: 25px;
  }
}

@media only screen and (max-width:950px) {
  .year{
    width: 25%;
  }
}

@media only screen and (max-width:750px) {
  .year{
    width: 33%;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width:550px) {
  .year{
    font-size: 18px;
  }
}
@media only screen and (max-width:450px) {
  /*todos los mobiles caen aquí*/
  .year{
    font-size: 17px;
  }
}

.year a{
  font-weight: bold;
  text-decoration: none;
}

.row{
}

.oros{
  width: 90%;
  background-color: #fff0b4;
  border-radius: 10px;
  border: 4px solid gold;
  margin: auto;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-left: 3%;
  padding-right: 3%;

}
.platas{
  width: 90%;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 4px solid rgb(182, 182, 182);
  margin: auto;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-left: 3%;
  padding-right: 3%;
}
.bronces{
  width: 90%;
  background-color: #ffe3c3;
  border-radius: 10px;
  border: 4px solid rgb(254, 180, 100);
  margin: auto;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-left: 3%;
  padding-right: 3%;
}

.medallas{
  width: 50%;
  float: left;
}


.medallas ul{
  margin-top: 0; 
  margin-left: -10px;
}

.tablaproblemas{
  width: min(100%, max(500px, 60%)); /*REFERENCIA MIN Y MAX!!!*/
  margin: auto;
  border: 3px solid #2e294a;
  border-collapse: collapse;
}

.tablaproblemas th, td{
  border: 1px solid #2e294a;
  padding: 5px 7px;
} 


@media only screen and (max-width:800px) {
  .medallas{
    width: 100%;
    padding: 0 0;
  }/*
  .pdfenunciados{
    display: none;
    height: 0;
  }
  .tablaproblemas{
    font-size:14px;
  }
  .tablaproblemas th, td{
    border: 1px solid #2e294a;
    padding: 5px 4px;
  }
  .oros, .platas, .bronces{
    width: 93%;
    border-width: 2px;
  }*/
}
/*
@media only screen and (max-width:500px){
  .medallas{
    font-size: 14.5px;
  }
  .medallas ul{
    margin-top: 0; 
    margin-left: -35px;
    list-style-type: none;
  }
}
*/

a.anchor {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}



.logoxarxes{
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.banner{
  width: 100%;
  margin: 0 0 0 0;

}

.shoutout{
  text-align: center;
  margin: auto;
  width: fit-content;
  border: 0px solid #252236;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #13008e;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;
}

@media only screen and (max-width: 800px){
  body ul{
    padding-left: 10px;
  }
}

.puntos{
  padding-left: min(100px,max(3%, 20px));
}

.encamino{
  text-align: center;
  font-size: 30px;
  background-color: #252236;
  width: fit-content;
  margin: auto;
  padding: 8px 25px;
  border-radius: 5px;
  border: 5px solid #252236; 
  color:white;
  font-family: "Trebuchet MS";
  font-weight: bold;
}
.socontainer{
  display: flex;
justify-content: center; /* align horizontal */
}